<!DOCTYPE html>
<html lang="en">

<head>
    <title>{% block title %}{% endblock %} - Deep Viz</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href=" {{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='style.css') }}" media="all" rel="stylesheet" type="text/css">
    <script src="{{ url_for('static', filename='js/d3.v3.min.js') }}" charset="utf-8"></script>
    <script src="{{ url_for('static', filename='js/jquery-2.0.3.js') }}" charset="utf-8"></script>
    <script src="{{ url_for('static', filename='js/jquery.timer.js') }}" charset="utf-8"></script>
    <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
</head>

<body>
 <div class="container" style="width:100%">
 {% block content %}
 {% endblock %}
 </div>
</body>

</html>
