{% extends "base.html" %}

{% block title %}DeepViz{% endblock %}

{% block content %}

<h1>Deep Viz</h1>

<h1>Layers</h1>
<object type="image/svg+xml" data="/layers.svg" id="layer-dag">
    Your browser does not support SVG
</object>

<h1>View Filters</h1>
<ul>
    {% for layer in model.layers %}
        {% if layer.type == "conv" %}
            <li><a href="{{ url_for("view_all_filters", layer_name=layer.name) }}">{{layer.name}}</a></li>
        {% endif %}
    {% endfor %}
</ul>
{% endblock %}

{% block footer %}
<script src="static/js/main.js" charset="utf-8"></script>
{% endblock %}