#footer {
    padding-top: 15px;
    border-top-color: #464646;
}

.timeline {
    text-align: center;
    vertical-align: middle;
}

.timeline input {
    width: 50%;
}

#header {
    background: #30585d;
    color: #fff;
    padding-left: 10px;
}

body {
    height: 100%;
    overflow: hidden;
    padding-top: 70px;
}

#sidebar-inner {
    padding: 5px;
    font-size: 12px;
}

#main-contentarea-inner, #sidebar-inner {
    overflow: auto;
}

#layer-dag {
    width: 100%;
    height: 150px;
    padding: 10px 20px 10px 10px;
}

.filter-display {
  overflow: hidden;
}

.filter-display object, .filter-display img {
    position: absolute;
}

.filter-display object {
    z-index: 3;
}

.filter-display img {
    z-index: 2;
}


#imagechooser input {
    width: 100%;
    margin-bottom: 10px;
}

#imagechooser .btn-group {
    position: relative;
    top: -20px;
}

#image-search-results {
    max-height: 200px;
    overflow: auto;
}

#selected-image-panel div.panel-body {
    text-align: center;
}